@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Welcome, to the Question Villa</h1>
        <p class="lead">Question Villa is the Plateform to showcase your skills.</p>
        
    </section>

    
</main>