<nav>
  <section class="navbar">
    <div class="logo-container">
      <h1>BookShelf</h1>
    </div>
    <div class="menu-item-container">
      <ul class="items">
        <li *ngIf="authService.isLoggedIn()" class="list-item">
          <a
            class="home"
            routerLink="/dashboard/home/"
            routerLinkActive="active_item"
            >Home</a
          >
        </li>
        <li *ngIf="authService.isLoggedIn()" class="list-item">
          <a class="logout" (click)="logout()">Logout</a>
        </li>
        <li *ngIf="authService.isLoggedIn()" class="">
          <a class="name">Hello, {{ currUser.firstName }}</a>
        </li>
      </ul>
    </div>
  </section>
</nav>

<main class="main">
  <div class="content">
    <router-outlet />
  </div>
</main>
