.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

.main {
  width: fit-content;
  margin-top: 2rem;
  padding: 1rem 2rem;
  background-image: linear-gradient(to bottom right, #a8edea, #fed6e3);
  border-radius: 1rem;
}

h1{
  font-size: xx-large;
}