<div class="calculator">
  <!-- displaying the display components -->
  <app-display
    [value]="previousValue"
    class="display previous-display"
  ></app-display>
  <app-display
    [value]="displayValue"
    class="display current-display"
  ></app-display>
  <!-- rendering buttons through for of loop  -->
  <div class="buttons">
    <app-button
      *ngFor="let button of buttons"
      [label]="button.label"
      [buttonType]="button.type"
      (buttonClick)="onButtonClick(button.label)"
    >
    </app-button>
  </div>
</div>
